<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Product Detail</h2>
    <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li><a>Product</a></li>
        <li><a  class="active" *ngIf="product">{{product.name}}</a></li>
    </ol>
</section>
<!-- End Banner area -->
 <!-- blog area -->
 <section class="blog_all" *ngIf="product">
    <div class="container">
        <div class="row m0 blog_row">
            <div class="col-sm-8 main_blog">
                <img src="{{product.image}}" alt="">
                <div class="col-xs-1 p0">
                   <div class="blog_date">
                       <a href="#">18</a>
                        <a href="#">Oct</a>
                   </div>
                </div>
                <div class="col-xs-11 blog_content">
                    <a class="blog_heading" >{{product.name}}</a>
                    <p>Price: <span style="color: red">{{product.price}} $</span></p>
                    <p style="font-weight: 600">{{product.desc}}</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    <div class="tag">
                        <h4>TAG</h4>
                        <a href="#">PAINTING</a>
                        <a href="#">CONSTRUCTION</a>
                        <a href="#">PAINTING</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 widget_area">
                <div class="resent">
                    <h3>Product News</h3>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="./assets/images/blog/rs-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="">Get informed about construction industry trends &amp; development.</a>
                            <h6>Oct 19, 2016</h6>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="./assets/images/blog/rs-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="">Get informed about construction industry trends &amp; development.</a>
                            <h6>Oct 19, 2016</h6>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="./assets/images/blog/rs-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="">Get informed about construction industry trends &amp; development.</a>
                            <h6>Oct 19, 2016</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog area -->
